body {
  margin:0px;
  background-color:rgba(133, 133, 134, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:896px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:896px;
  display:flex;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:3px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:70px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:776px;
  width:394px;
  height:70px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:44px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:789px;
  width:58px;
  height:44px;
  display:flex;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:789px;
  width:48px;
  height:44px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:43px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:789px;
  width:67px;
  height:43px;
  display:flex;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:789px;
  width:48px;
  height:44px;
  display:flex;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:792px;
  width:48px;
  height:41px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:40px;
  width:138px;
  height:33px;
  display:flex;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:97px;
  width:123px;
  height:42px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:207px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:0px 2px 4px rgba(144, 141, 128, 1);
  -webkit-box-shadow:0px 2px 4px rgba(144, 141, 128, 1);
  box-shadow:0px 2px 4px rgba(144, 141, 128, 1);
}
#u487 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:148px;
  width:363px;
  height:207px;
  display:flex;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:287px;
  width:160px;
  height:32px;
  display:flex;
  font-size:28px;
}
#u488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:329px;
  width:11px;
  height:10px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#757575;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:326px;
  width:253px;
  height:29px;
  display:flex;
  color:#757575;
}
#u490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:364px;
  width:107px;
  height:70px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:364px;
  width:107px;
  height:70px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:57px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:69px;
  width:63px;
  height:57px;
  display:flex;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:515px;
  width:358px;
  height:250px;
  touch-action:pan-y;
}
#u495_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:158px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:21px;
  width:161px;
  height:158px;
  display:flex;
}
#u497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0F0000;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:197px;
  width:157px;
  height:53px;
  display:flex;
  color:#0F0000;
}
#u498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0F0000;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:197px;
  width:154px;
  height:48px;
  display:flex;
  color:#0F0000;
}
#u499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:178px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:10px;
  width:183px;
  height:178px;
  display:flex;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u495_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u495_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:239px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:239px;
  display:flex;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:198px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:198px;
  display:flex;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0F0000;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:197px;
  width:149px;
  height:51px;
  display:flex;
  color:#0F0000;
}
#u504 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0F0000;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:201px;
  width:133px;
  height:38px;
  display:flex;
  color:#0F0000;
}
#u505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:187px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:176px;
  height:187px;
  display:flex;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:35px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:605px;
  width:12px;
  height:35px;
  display:flex;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_img.mouseOver {
}
#u507.mouseOver {
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:27px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:605px;
  width:13px;
  height:27px;
  display:flex;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_img.mouseOver {
}
#u508.mouseOver {
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:136px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:156px;
  width:136px;
  height:126px;
  display:flex;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:364px;
  width:107px;
  height:70px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:455px;
  width:205px;
  height:42px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0F0000;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:162px;
  width:45px;
  height:26px;
  display:flex;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0F0000;
}
#u512 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u512_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.03529411764705882);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0F0000;
}
#u512.mouseOver {
}
#u512_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0F0000;
}
#u512.mouseDown {
}
#u512_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0F0000;
}
#u512.disabled {
}
#u512_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0F0000;
}
#u512.mouseOver.mouseDown {
}
#u512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
